.content-container {
    padding: 10%;
    height: 100vh;
    font-size: 64px;
    display: inline;
}
.panel-left {
    float: right;
    background-color: lightyellow;
    width: 33%;
    padding: 87px;
}
